
.swiper-container {
    padding-bottom: 56%;
}

.swiper-container__wrapper {
    position: relative;
}

.swiper-pagination {
    width: 100%;
}

.swiper-wrapper {
    height: 100%;
    left: 0;
    position: absolute;
}

.swiper-slide__slide {

    &:after {
        background: $black;
        bottom: 0;
        content: '';
        left: 0;
        position: absolute;
        right: 0;
        opacity: .3;
        top: 0;
        z-index: 1;
    }
}

.swiper-slide__content {
    box-sizing: border-box;
    bottom: 0;
    color: $white;
    padding: 30px;
    position: absolute;
    text-align: left;
    z-index: 2;
}

.swiper-pagination-bullet {
    margin: 4px;
}

.swiper-slide__content-title {
    clear: both;
    float: left;
    font-size: 32px;
    line-height: 34px;
    width: 100%;

    @include respond-to(tablet) {
        font-size: 40px;
        line-height: 40px;
    }
}

.swiper-slide__content-subtitle {
    clear: both;
    float: left;
    font-size: 22px;
    line-height: 26px;
    margin-top: 5px;
    width: 100%;
}

.swiper-slide__content-description {
    clear: both;
    float: left;
    font-size: 14px;
    line-height: 18px;
    margin-top: 5px;
    max-width: 600px;
}
